# Basic Input Output - 1

# Q1- Introduction

In [1]:
Name = input("Enter Name:")
age = int(input("Enter age:"))
city = input("Enter city:")

Enter Name:Vishal
Enter age:21
Enter city:Pune

# Q2- Arethmatic Operations

In [3]:
num1 = int(input("Enter first number:"))
num2 = int(input("Enter second number:"))

print("num1 + num2 =",num1+num2)
print("num1 - num2 =",num1-num2)
print("num1 * num2 =",num1*num2)
print("num1 / num2 =",num1/num2)
print("num1 % num2 =",num1%num2)
print("num1 ^ num2 =",num1**num2)

Enter first number:8
Enter second number:2
num1 + num2 = 10
num1 - num2 = 6
num1 * num2 = 16
num1 / num2 = 4.0
num1 % num2 = 0
num1 ^ num2 = 64

# Basic Input Output - 2

# Q1 - Swap Two Numbers

In [4]:

num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))

print("The value of num1 before swap:",num1)
print("The value of num2 before swap:",num2)

temp = num1
num1 = num2
num2 = temp

print("The value of num1 after swap:",num1)
print("The value of num2 after swap:",num2)

Enter num1:10
Enter num2:20
The value of num1 before swap: 10
The value of num2 before swap: 20
The value of num1 after swap: 20
The value of num2 after swap: 10

# Q2 - Swap Two Numbers without using 3rd variable

In [5]:
num1 = int(input("Enter num1:"))
num2 = int(input("Enter num2:"))

print("The value of num1 before swap:",num1)
print("The value of num2 before swap:",num2)


num1 = num1+ num2 

num2 = num1 - num2  

num1 = num1 - num2 

print("The value of num1 after swap:",num1)
print("The value of num2 after swap:",num2)

Enter num1:56
Enter num2:98
The value of num1 before swap: 56
The value of num2 before swap: 98
The value of num1 after swap: 98
The value of num2 after swap: 56

# Q3 - Simple Interest

In [6]:

principle = int(input("Enter your principle amount:"))
rate_of_interest = int(input("Enter rate of interest:"))
years = int(input("Enter time period in years:"))

simple_interest = (principle * rate_of_interest * years)/100

print("Simple Interest is:",simple_interest)

Enter your principle amount:1000
Enter rate of interest:13
Enter time period in years:5
Simple Interest is: 650.0

# Q4 - Average of 5 numbers

In [1]:
num1 = int(input("Enter 1st number:"))
num2 = int(input("Enter 2nd number:"))
num3 = int(input("Enter 3rd number:"))
num4 = int(input("Enter 4th number:"))
num5 = int(input("Enter 5th number:"))

sum = num1 + num2 + num3 + num4 + num5

count = 5

average = sum / count

print("The average of given numbers is:",average)

Enter 1st number:12
Enter 2nd number:23
Enter 3rd number:12
Enter 4th number:23
Enter 5th number:15
The average of given numbers is: 17.0

# Q5 - Discriminant of quadratic equation

In [4]:
# discriminant = B^2 - 4*A*C

A = int(input("Enter value of A:"))
B = int(input("Enter value of B:"))
C = int(input("Enter value of C:"))

discriminant = B**2 - 4 * A * C

print("Discriminant of given quadratic equation is:",discriminant)

Enter value of A:1
Enter value of B:10
Enter value of C:3
Discriminant of given quadratic equation is: 88

# Basic Input Output - 3

# Q1 - Area of different shapes

# Rectangle

In [7]:
length = int(input("Enter length of Rectangle:"))
width = int(input("Enter width of Rectangle:"))

area = length * width

print("Area of given Rectangle is: {} units".format(area))

Enter length of Rectangle:50
Enter width of Rectangle:30
Area of given rectangle is: 1500 units

# Square

In [8]:
side = int(input("Enter length of side of Square:"))

area = side * side

print("Area of given Square is: {} units".format(area))

Enter length of side of Square:15
Area of given Square is: 225 units

# Triangle

In [9]:
base = int(input("Enter value for base:"))
height = int(input("Enter value for height:"))

area = (base * height) / 2

print("Area of given Triangle is: {} units".format(area))

Enter value for base:15
Enter value for height:28
Area of given Triangle is: 210.0 units

# Circle

In [11]:
radius = int(input("Enter value for Radius:"))

area = radius * radius * 3.14

print("Area of given Circle is: {} units".format(area))

Enter value for Radius:15
Area of given Circle is: 706.5 units

# Q2 - Net salary calculation

In [14]:
basicSalary = int(input("Enter basic salary:"))

DA = basicSalary * 0.05
HRA = basicSalary * 0.07
PF = basicSalary * 0.03

netSalary = basicSalary - (DA + HRA + PF)

print("Net salary is:",netSalary)

Enter basic salary:450000
Net salary is: 382500.0

# Q3 - power of a number

In [15]:
base = int(input("Enter base:"))
exponent = int(input("Enter exponent:"))

power = base ** exponent

print("Answer:",power)

Enter base:3
Enter exponent:4
Answer: 81

# Q4 - python version

In [19]:
from platform import python_version
python_version()

'3.9.13'